.spinner {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20%;
    padding-left: 46%;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: #000;
    opacity: 0.6;
    transition: opacity 0.3s linear;    
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.visible {
    visibility: visible;
}
